
<table class="tile-container" border="0" padding="0" >
<tr><td>
<table class="tile-holder" border="0" padding="0" align=center >
<tr><td>

	  <!-- Start of main-tile -->
	  <div class="main-tile">
	
	    <!-- Start of left-tile -->
	    <div class="tile-left" align="left">
	    <%= image_tag "kids.gif"%>
	    </div>
	    <!--End of left-tile -->
	
	    <!--Start of right-tile -->
	    <div class="right-tile" align="right">
	    <p class="p-content" >
		<center><span class="span-safe" >safe</span></center> <br>
		<center><span class="span-secure" >secure</span></center><br>
		<center><span class="span-anytime" >anytime</span></center><br>
		<center><span class="span-anywhere" >anywhere</span></center><br>
		<span class="span-trial"><a href="#">Start free trial</a></span>
		<span class="arrow-right">
			<%= image_tag "greenrightarrow.gif" %>
		</span></div>
	    <!-- End of right-tile -->
	   </div>
	   <!--End of main-tile -->
    
    
</td></tr></table>
</td></tr></table>



<table class="section-container" >
<tr><td>
<table class="section-holder" align="center" >
<tr><td>
<!--Start of main-section -->
	<div class="main-section" >
	
	<!-- Start of section-one -->
	 <div class="section-one" >
<p><center> <span class="span-share" > simply share</center> </span> <br></p>
  <p  class="section-one-desc" align="justify"  > you will never need to email files again.... Simply share files between friends, family and colleagues
   </p><br>
   <p class="section-one-link">
   <a href="#">See more about File Sharing </a></span></p>
    </div>
<!--End of section-one -->

<!--Start of section-two -->
    <div class="section-two" >
   <p><center> <span class= "span-user" > as many users as <br>you like</center></span><br></p>
	<p class="section-two-desc"align="justify">Setup the whole whanau or workplace under one account! No limits on number of users or devices!</p><br>
	 <p class="section-two-link" > <a href="#">See more about Multi User</a></p>
    </div>
<!--End of section-two -->

<!-- Start of section-three -->
    <div class="section-three" >
	<p> <center> <span class="span-security" > security,security and more security</center></span><br></p>
	<p class="section-three-desc" align="justify"> Data security you can count on! All files are encrypted with customer unique military grade encryption locally before being uploaded via secure SSL connection</span><br><br>
	 Cloud storage is in leading NEW ZEALAND based data centers</p><br>
	<p class="section-three-link" ><a href="#">See more about Security </a></p>

    </div>
<!--End of Section-three -->

<!--Start of section-four -->
    <div class="section-four">
<p><center> <span class= "section-four-anytime">  anytime <br>anywhere</center><br></span></p>
<p align="justify" class="section-four-desc">Access your files from any computer or mobile device at anytime. Simply login via the web.Easy!</p>
<p class="section-four-link"><a href="#">See more about Web Access</a></p>
    </div>
<!--End of section-four -->

	</div>
	<!-- End of main-section -->
</td></tr></table>
</td></tr></table>



