body{margin:0;padding:0;font-family: "Century Gothic", Helvetica, Arial, sans-serif;}
a{color:#0092CC;text-decoration:none;}
a:hover {color: #005580;text-decoration:underline;}
.header-container{width:100%;height:120px;}
.header-holder{ width:800px;height:120px;}


.header{width:800px;height:120px;top:0px;position:absolute;}
.logo{left:0px;top:25px;position:absolute;}

.p-features{color:#0092CC;right:365px;top:25px;position:absolute;}
.p-pricing{color:#0092CC;right:255px;top:25px;position:absolute;}
.p-helpcenter{color:#0092CC;right:105px;top:25px;position:absolute;}
.p-signin{color:#0092CC;right:5px;top:25px;position:absolute;}

.tile-container{width:100%;height:300px;background-color:#E1EBF3;}
.tile-holder{background-color:#E1EBF3;width:800px; height:300px;}



.main-tile{top:127px;position:absolute;width:800px;height:300px;background-color:#E1EBF3;}
.tile-left{height:200px;width:200px;margin-top:50px;left:25%;position:absolute;}
.right-tile{height:200px;width:200px;margin-top:50px;right:25%;position:absolute;}
.p-content{color:#0092CC;}
.span-safe{color:#0092CC;font-size:35px;line-height:15px;margin-top:0px;}
.span-secure{color:#0092CC;font-size:35px;line-height:15px;}
.span-anytime{color:#0092CC;font-size:35px;line-height:15px;}
.span-anywhere{color:#0092CC;font-size:35px;line-height:15px;}

.span-trial{font-size:14px;color:#0092CC;left:50px;bottom:5px;position:absolute;}
.arrow-right{left:140px;bottom:0px;position:absolute;}

.section-container{width:100%;height:400px;}
.section-holder{width:800px;height:400px;}


.main-section{width:800px;height:400px;}
.section-one{width:175px;;height:350px;margin-left:0px;margin-top:50px;background-color:white;position:absolute;}
.span-share{color:#0092CC;font-size:19px;align:center;}
.section-one-desc{left:0px;top:60px;position:absolute;font-size:14px;}
.section-one-link{left:0px;top:165px;position:absolute;font-size:14px;color:#0092CC;}

.section-two{width:175px;height:350px;margin-top:50px;margin-left:208px;background-color:white;position:absolute;}
.span-user{color:#0092CC;font-size:19px;align:center;}
.section-two-desc{left:0px;top:60px;position:absolute;font-size:14px;}
.section-two-link{left:0px;top:165px;position:absolute;font-size:14px;color:#0092CC;}

.section-three{width:175px;height:350px;margin-top:50px;margin-left:416px;background-color:white;position:absolute;}
.span-security{color:#0092CC;font-size:19px;align:center;}
.section-three-desc{left:0px;top:60px;position:absolute;font-size:14px;}
.section-three-link{left:0px;top:278px;position:absolute;font-size:14px;color:#0092CC;}

.section-four{width:175px;height:350px;margin-top:50px;margin-left:624px;background-color:white;position:absolute;}
.section-four-anytime{color:#0092CC;font-size:19px;align:center;}
.section-four-desc{left:0px;top:60px;position:absolute;font-size:14px;}
.section-four-link{left:0px;top:165px;position:absolute;font-size:14px;color:#0092CC;}

.footer-container{width:100%;height:80px;}
.footer-holder{width:800px;height:80px;}
.footer{width:800px;height:80px;bottom:0px;}
.p-news{color:#0092CC;}
.p-legal{color:#0092CC;margin-left:50px;}
.p-contact{color:#0092CC;margin-left:50px;}
.p-about{color:#0092CC;margin-left:50px;}
.p-files{color:#0092CC;margin-left:175px;}
.map{margin-right:20px;margin-bottom:25px;position:absolute;}
